body {
    margin: 0;
    font-size: 36px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 15px;
    text-align: center;
    background-color: rgb(246, 245, 245);
    text-shadow: 2px 2px black;
}

.title
{
    background: white;
    padding: 5px;
}

.header span {
    font-size: calc(36px + 2rem);
    font-weight: 600;
}

/* content section */
.content {
    justify-content: center;
    gap: 2%;
    align-items: center;
    display: flex;
    flex: 15;
    background-color: rgb(240, 240, 240);

}

.container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: gray;
    height: 95%;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
    border-radius: 2px;
}

/* buttons section */

button {
    background-color: rgb(233, 250, 255);
    border-radius: 5px;
    font-size: 25px;
    height: 75px;
    width: 7rem;
    box-shadow: 1px 1px 0px black;
}

button:hover {
    background: rgb(255, 255, 255);
    transform: scale(1.01);
}
button:active {
    background-color: rgb(225, 248, 255);
    transform: scale(.99);
    box-shadow: none;
}

.reset-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reset-buttons div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.size-display {
    flex-shrink: 0;
    height: 10px;
    width: 10px;
    background-color: black;
}

.color-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.color-buttons div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-display {
    height: 30px;
    border-radius: 100%;
    width: 30px;
    background-color: black;
}

.color-display:hover {
    transform: scale(1.1);
}

.color-element:hover {
    transform: scale(1.2);
    border: 1px solid white;
}



/* end buttons section */


.row {
    display: flex;
    flex: 1;
}

.column {
    display: flex;
    flex: 1;
    background-color: rgb(255, 255, 255);
    border: 0px solid black;
}

/* end content section */

.footer {
    padding: 0;
    padding-bottom: 8px;
    background-color: rgb(255, 255, 255);

    text-align: center;
}

.footer span {
    color: rgb(193, 193, 193);
    font-size: calc(12px + .4rem);
}


.rb-background {
    padding: 0px;
    border-radius: 5px;
}

#one {
    background: rgb(255, 67, 67);
}
#two{
    background: rgb(255, 194, 80);
}
#three{
    background: rgb(255, 255, 79);
}
#four{
    background: rgb(100, 255, 100);
}








/* title styling */
.header span:nth-child(1)
{
    color: rgb(255, 67, 67);
}
.header span:nth-child(2)
{
    color: rgb(255, 194, 80);
}
.header span:nth-child(3)
{
    color: rgb(255, 255, 79);
}
.header span:nth-child(4)
{
    color: rgb(100, 255, 100);
}
.header span:nth-child(5)
{
    color: deepskyblue;
}
.header span:nth-child(6)
{
    color: rgb(179, 72, 255);
}
.header span:nth-child(7)
{
    color: violet;
}
.header span:nth-child(8)
{
    color: rgb(255, 67, 67);
}
.header span:nth-child(9)
{
    color: rgb(255, 194, 80);
}
.header span:nth-child(10)
{
    color: rgb(255, 255, 79);
}
.header span:nth-child(11)
{
    color: rgb(100, 255, 100);
}
.header span:nth-child(12)
{
    color: deepskyblue;
}
.header span:nth-child(13)
{
    color: rgb(179, 72, 255);
}
/* end title styling */